doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title= title
  block style
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/sb-admin.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/datatables/dataTables.bootstrap4.css')
    link(href='/fontawesome-free/css/all.min.css' rel='stylesheet' type='text/css')


  block script
    script(src="/javascripts/jquery/jquery.js")
    script(src="/javascripts/bootstrap/bootstrap.bundle.js")
    script(src="/javascripts/jquery-easing/jquery.easing.min.js")
    script(src='/javascripts/sb-admin.min.js')
body#page-top
  nav.navbar.navbar-expand.navbar-dark.bg-dark.static-top
    a.navbar-brand.mr-1(href='index.html') Start Bootstrap
    button#sidebarToggle.btn.btn-link.btn-sm.text-white.order-1.order-sm-0(href='#')
      i.fas.fa-bars
    // Navbar Search
    form.d-none.d-md-inline-block.form-inline.ml-auto.mr-0.mr-md-3.my-2.my-md-0
      .input-group
        input.form-control(type='text' placeholder='Search for...' aria-label='Search' aria-describedby='basic-addon2')
        .input-group-append
          button.btn.btn-primary(type='button')
            i.fas.fa-search
    // Navbar
    ul.navbar-nav.ml-auto.ml-md-0
      li.nav-item.dropdown.no-arrow.mx-1
        a#alertsDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          i.fas.fa-bell.fa-fw
          span.badge.badge-danger 9+
        .dropdown-menu.dropdown-menu-right(aria-labelledby='alertsDropdown')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          .dropdown-divider
          a.dropdown-item(href='#') Something else here
      li.nav-item.dropdown.no-arrow.mx-1
        a#messagesDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          i.fas.fa-envelope.fa-fw
          span.badge.badge-danger 7
        .dropdown-menu.dropdown-menu-right(aria-labelledby='messagesDropdown')
          a.dropdown-item(href='#') Action
          a.dropdown-item(href='#') Another action
          .dropdown-divider
          a.dropdown-item(href='#') Something else here
      li.nav-item.dropdown.no-arrow
        a#userDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          i.fas.fa-user-circle.fa-fw
        .dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
          a.dropdown-item(href='#') Settings
          a.dropdown-item(href='#') Activity Log
          .dropdown-divider
          a.dropdown-item(href='#' data-toggle='modal' data-target='#logoutModal') Logout
  #wrapper
    // Sidebar
    ul.sidebar.navbar-nav
      li.nav-item
        a.nav-link(href='index.html')
          i.fas.fa-fw.fa-tachometer-alt
          span Dashboard
      li.nav-item.dropdown
        a#pagesDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
          i.fas.fa-fw.fa-folder
          span Pages
        .dropdown-menu(aria-labelledby='pagesDropdown')
          h6.dropdown-header Login Screens:
          a.dropdown-item(href='login.html') Login
          a.dropdown-item(href='register.html') Register
          a.dropdown-item(href='forgot-password.html') Forgot Password
          .dropdown-divider
          h6.dropdown-header Other Pages:
          a.dropdown-item(href='404.html') 404 Page
          a.dropdown-item.active(href='blank.html') Blank Page
      li.nav-item
        a.nav-link(href='charts.html')
          i.fas.fa-fw.fa-chart-area
          span Charts
      li.nav-item
        a.nav-link(href='tables.html')
          i.fas.fa-fw.fa-table
          span Tables
    #content-wrapper
      .container-fluid
        // Breadcrumbs
        ol.breadcrumb
          li.breadcrumb-item
            a(href='index.html') Dashboard
          li.breadcrumb-item.active Blank Page
        // Page Content
        block content
      
      // /.container-fluid
      // Sticky Footer
      footer.sticky-footer
        .container.my-auto
          .copyright.text-center.my-auto
            span Copyright &copy; Your Website 2018
    // /.content-wrapper
  // /#wrapper
  // Scroll to Top Button
  a.scroll-to-top.rounded(href='#page-top')
    i.fas.fa-angle-up
  // Logout Modal
  #logoutModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          h5#exampleModalLabel.modal-title Ready to Leave?
          button.close(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        .modal-body Select &quot;Logout&quot; below if you are ready to end your current session.
        .modal-footer
          button.btn.btn-secondary(type='button' data-dismiss='modal') Cancel
          a.btn.btn-primary(href='login.html') Logout
