extends layout
block content
    h1
        center= welcome
    div(class='container')
        div(class='card card-login mx-auto mt-5')
            div(class ='card-header') Login 
            div(class='card-body')   
                form(action="/", method="post" )
                    div(class='form-group')
                        div(class='form-group-label')
                            input(type="text", name="login" id='inputLogin' class='form-control ' placeholder='Entrez votre login' required)
                            label(for="inputLogin") Login
                    div(class='form-group')
                        div(class='form-group-label')
                            input(type="password", name="login" id='inputPass' class='form-control ' placeholder='Entrez votre mot de passe' required)
                            label(for="inputPass") Password
                    input(type="submit", value="Se connecter" class='btn btn-primary')