
block navbar
    ul.navbar-nav.ml-auto.ml-md-0
        li.nav-item.dropdown.no-arrow.mx-1
        a#alertsDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            i.fas.fa-bell.fa-fw
            span.badge.badge-danger 9+
        .dropdown-menu.dropdown-menu-right(aria-labelledby='alertsDropdown')
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            .dropdown-divider
            a.dropdown-item(href='#') Something else here
        li.nav-item.dropdown.no-arrow.mx-1
        a#messagesDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            i.fas.fa-envelope.fa-fw
            span.badge.badge-danger 7
        .dropdown-menu.dropdown-menu-right(aria-labelledby='messagesDropdown')
            a.dropdown-item(href='#') Action
            a.dropdown-item(href='#') Another action
            .dropdown-divider
            a.dropdown-item(href='#') Something else here
        li.nav-item.dropdown.no-arrow
        a#userDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
            i.fas.fa-user-circle.fa-fw
        .dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
            a.dropdown-item(href='#') Settings
            a.dropdown-item(href='#') Activity Log
            .dropdown-divider
            a.dropdown-item(href='#' data-toggle='modal' data-target='#logoutModal') Logout