
#wrapper
  // Sidebar
  ul.sidebar.navbar-nav
    li.nav-item
      a.nav-link(href='index.html')
        i.fas.fa-fw.fa-tachometer-alt
        span Dashboard
    li.nav-item.dropdown
      a#pagesDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        i.fas.fa-fw.fa-folder
        span Pages
      .dropdown-menu(aria-labelledby='pagesDropdown')
        h6.dropdown-header Login Screens:
        a.dropdown-item(href='login.html') Login
        a.dropdown-item(href='register.html') Register
        a.dropdown-item(href='forgot-password.html') Forgot Password
        .dropdown-divider
        h6.dropdown-header Other Pages:
        a.dropdown-item(href='404.html') 404 Page
        a.dropdown-item.active(href='blank.html') Blank Page
    li.nav-item
      a.nav-link(href='charts.html')
        i.fas.fa-fw.fa-chart-area
        span Charts
    li.nav-item
      a.nav-link(href='tables.html')
        i.fas.fa-fw.fa-table
        span Tables
  #content-wrapper
    .container-fluid
      // Breadcrumbs
      ol.breadcrumb
        li.breadcrumb-item
          a(href='index.html') Dashboard
        li.breadcrumb-item.active Blank Page
      // Page Content
      h1 Blank Page
      hr
      p This is a great starting point for new custom pages.
    // /.container-fluid
    // Sticky Footer
    footer.sticky-footer
      .container.my-auto
        .copyright.text-center.my-auto
          span Copyright &copy; Your Website 2018
  // /.content-wrapper